.navbar
{
    background-color:#ff6347;
    color: #fff;
    margin-bottom:10%;
}
.navbar a{
    color:#fff
}
.liContainer{
    display: inherit;
}
.footer
{
    margin-top:15%;
    text-align: center;
    background-color:#ff6347;
    color: #fff;
    padding: 20px;
}
body
{
    background: url('/assets/bodyBack.png');
}
h1,h2,h3,h4,h5,h6{
    color: #585656;
}

.search{
    background: #fff;
    border: 3px dashed #eee;
}